{% extends 'base.html.twig' %}

{% block body %}
    <table border="1px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fecha nacimiento</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.nombre }}</td>
                    <td>{{ estudiante.apellidos }}</td>
                    <td>{{ estudiante.fechaNacimiento | date('d/m/Y') }}</td>
                    <td>{{ estudiante.grupo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}